<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-account-add">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .center-div
      {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 500px;
      }

      .overlay-div {
          /*background-color: #fff;*/
          text-align:center;
          width: 30px;
          height: 30px;/*height needs to be set*/
          margin: auto;
          position: fixed;
          top: 12%;
          right: 0;
          bottom: 0;
          left: 0;
      }

      h1 {
        font-size: 30px !important;
      }
      
    </style>

   

    <div align="center">
      <h1>Add Client Account</h1>
    </div>

    <div class="center-div">
    <!-- <div align="center" style="width: 200px;"> -->

      <label class="w-100">IdClient [[idclient]]</label>
      </br>
      </br>
      <label class="w-100" for="input2">Iban</label>
      </br>
      <input class="w-100" id="input2" type="text" placeholder="Enter iban" value="{{iban::input}}" />
      </br>
      </br>
      <label class="w-100" for="input3">Date</label>
      </br>
      <input class="w-100" id="input3" type="text" placeholder="Enter date" value="{{date::input}}" />
      </br>
      </br>
      <label class="w-100" for="input4">Available</label>
      </br>
      <input class="w-100" id="input4" type="text" placeholder="Enter available" value="{{available::input}}" />
      </br>
      
      </br>
      <button class="w-100 btn btn-danger" on-click="addAccount">Done</button>

      </br>
      </br>
      <a name="accounts" href="[[rootPath]]accounts">Back</a>
      </br>
      </br>

    </div>

    <div hidden$="{{hideLoading}}">
      <div class="circle overlay-div" style="width: 50px; height: 50px;"></div>

      <div class="overlay-div">
        <paper-spinner active></paper-spinner>
      </div>
    </div>

  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class MyAccountAdd extends Polymer.Element {
      static get is() { return 'my-account-add'; }
      static get properties() {
        return {
          idclient: {
            type: String,
            value: ''
          },
          iban: {
            type: String,
            value: ''
          },
          date: {
            type: String,
            value: ''
          },
          available: {
            type: String,
            value: ''
          },
          hideLoading: {
            type: Boolean,
            value: true
          }
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this)); 

        this.checkLogged();
      }
      routePageChanged(event) {
        console.log(this.localName + ' routePageChanged event, page: ' + event.detail);

        if (event.detail == 'account-add') {
          this.username = '';
          this.surname = '';
          this.email = '';
          this.password = '';
          this.usertype = '';

          this.checkLogged();
        }
      }
      checkLogged() {
        if (!this.logged) {
          console.log('not logged, go to login page');
          this.set('route.path', '/login'); 
        }
      }
      addAccount()
      {
        if (this.iban == undefined || this.iban == ''
          || this.date == undefined || this.date == ''
          || this.available == undefined || this.available == '') 
        {
          this.showAlert('Error','Please fill all fields','red');
        }
        else {
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/accounts", true);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var data = { 
            "idclient" : this.idclient,
            "iban" : this.iban,
            "date" : this.date,
            "available" : this.available
          };
          var body = JSON.stringify(data);

          var that = this;
          this.hideLoading = false;

          request.onload = function (e) {
            if (request.readyState === 4) {
              if (request.status === 200) {
                that.hideLoading = true;
                console.log('response: ' + request.responseText);

                var response = JSON.parse(request.responseText);

                if (response instanceof Array) {
                  that.showAlert('Error','Email already exists','red');
                }
                else {
                  that.showAlert('Info','Account added','blue');

                  that.set('route.path', '/accounts');
                }
              } 
              else {
                console.error(request.statusText);
                that.hideLoading = true;
                that.showAlert('Error','Connection error','red');
              }
            }
          };
          request.onerror = function (e) {
            console.error(request.statusText);
            that.hideLoading = true;
            that.showAlert('Error','Connection error','red');
          };

          request.send(body);
        }
      }
      showAlert(title, text, color)
      {
        // create the element
        const alert = document.createElement('nebula-alert');

        // show the element - automatically appended to document.body
        alert.show({
          title: title,
          // icon: 'icons:warning',
          text: text,
          allowCancel: false,
          buttons: ['OK']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': color,
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': color,
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': color,
        });
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyAccountAdd.is, MyAccountAdd);
  </script>

</dom-module>
