<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="../bower_components/nebula-alert/nebula-alert.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-help-admin.html">
<link rel="lazy-import" href="my-help-client.html">
<link rel="lazy-import" href="my-clients.html">
<link rel="lazy-import" href="my-client-add.html">
<link rel="lazy-import" href="my-client-edit.html">
<link rel="lazy-import" href="my-accounts.html">
<link rel="lazy-import" href="my-account-add.html">
<link rel="lazy-import" href="my-account-edit.html">
<link rel="lazy-import" href="my-client-accounts.html">
<link rel="lazy-import" href="my-transactions.html">
<link rel="lazy-import" href="my-transaction-add.html">
<link rel="lazy-import" href="my-transaction-edit.html">
<link rel="lazy-import" href="my-client-transactions.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      app-toolbar {
        background-color: #33f;
        color: #fff;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
        outline: none;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
        outline: none;
      }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <!-- <app-drawer-layout fullbleed narrow="{{narrow}}"> -->
    <app-drawer-layout fullbleed force-narrow>
      <!-- Drawer content -->
      <!-- <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]"> -->
      <app-drawer id="drawer" slot="drawer" swipe-open="true">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="login" href="[[rootPath]]login" style="display: [[hideNoSession]];">Login</a>
          <a name="client-accounts" href="[[rootPath]]client-accounts" style="display: [[hideSessionClient]];">My Accounts</a>
          <a name="clients" href="[[rootPath]]clients" style="display: [[hideSessionAdmin]];">Clients</a>
          <a name="help-admin" href="[[rootPath]]help-admin" style="display: [[hideSessionAdmin]];">Help</a>
          <a name="help-client" href="[[rootPath]]help-client" style="display: [[hideSessionClient]];">Help</a>
          <a name="logout" href="[[rootPath]]login" style="display: [[hideSession]];">Logout</a>
          <!-- <a name="view1" href="[[rootPath]]view1">View One</a>           -->
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title align="center" style="display: inline-block;"><h3>BBVA TechU</h3></div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">

          <my-clients name="clients" route="{{route}}" idaccount="{{idaccount}}" idclient="{{idclient}}" username="{{username}}" surname="{{surname}}" email="{{email}}" password="{{password}}" usertype="{{usertype}}" logged="{{logged}}"></my-clients>

          <my-client-add name="client-add" route="{{route}}" logged="{{logged}}"></my-client-add>

          <my-client-edit name="client-edit" route="{{route}}" idclient="{{idclient}}" username="{{username}}" surname="{{surname}}" email="{{email}}" password="{{password}}" usertype="{{usertype}}" logged="{{logged}}"></my-client-edit>
          
          <my-accounts name="accounts" route="{{route}}" idaccount="{{idaccount}}" idclient="{{idclient}}" iban="{{iban}}" date="{{date}}" available="{{available}}" logged="{{logged}}"></my-accounts>
          
          <my-account-add name="account-add" route="{{route}}" idclient="{{idclient}}" logged="{{logged}}"></my-account-add>
          
          <my-account-edit name="account-edit" route="{{route}}" idaccount="{{idaccount}}" idclient="{{idclient}}" iban="{{iban}}" date="{{date}}" available="{{available}}" logged="{{logged}}"></my-account-edit>
          
          <my-transactions name="transactions" route="{{route}}" idtransaction="{{idtransaction}}" idclient="{{idclient}}" idaccount="{{idaccount}}" date="{{date}}" amount="{{amount}}" detail="{{detail}}" type="{{type}}" logged="{{logged}}"></my-transactions>
         
          <my-transaction-add name="transaction-add" route="{{route}}" idaccount="{{idaccount}}" logged="{{logged}}"></my-transaction-add>
          
          <my-transaction-edit name="transaction-edit" route="{{route}}" idtransaction="{{idtransaction}}" idclient="{{idclient}}" idaccount="{{idaccount}}" date="{{date}}" amount="{{amount}}" detail="{{detail}}" type="{{type}}" logged="{{logged}}"></my-transaction-edit>
          
          <my-login name="login" route="{{route}}" idclient="{{idclient}}" logged="{{logged}}"></my-login>
          
          <my-help-admin name="help-admin" route="{{route}}" logged="{{logged}}"></my-help-admin>

          <my-help-client name="help-client" route="{{route}}" logged="{{logged}}"></my-help-client>
          
          <my-client-transactions name="client-transactions" route="{{route}}" idclient="{{idclient}}" idaccount="{{idaccount}}" logged="{{logged}}"></my-client-transactions>
          
          <my-client-accounts name="client-accounts" route="{{route}}" idclient="{{idclient}}" idaccount="{{idaccount}}" logged="{{logged}}"></my-client-accounts>
          
          <my-view1 name="view1"></my-view1>
          
          <my-view404 name="view404"></my-view404>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          hideNoSession: {
            type: String,
            value: 'block'
          },
          hideSession: {
            type: String,
            value: 'none'
          },
          hideSessionClient: {
            type: String,
            value: 'none'
          },
          hideSessionAdmin: {
            type: String,
            value: 'none'
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

        if (this.page == 'login') {
          this.hideNoSession = 'block';
          this.hideSession = 'none';
          this.hideSessionClient = 'none';
          this.hideSessionAdmin = 'none';
        }
        else if (this.page == 'client-transactions' || this.page == 'client-accounts' || this.page == 'help-client') {
          this.hideNoSession = 'none';
          this.hideSession = 'block';
          this.hideSessionClient = 'block';
          this.hideSessionAdmin = 'none';
        }
        else {
          this.hideNoSession = 'none';
          this.hideSession = 'block';
          this.hideSessionClient = 'none';
          this.hideSessionAdmin = 'block';
        }

        console.log('my-app _routePageChanged: ' + this.page);
        console.log('my-app received idclient: ' + this.idclient);

        document.dispatchEvent(new CustomEvent('routePageChanged', {detail: this.page}));
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
