<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-clients">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .overlay-div {
          /*background-color: #fff;*/
          text-align:center;
          width: 30px;
          height: 30px;/*height needs to be set*/
          margin: auto;
          position: fixed;
          top: 12%;
          right: 0;
          bottom: 0;
          left: 0;
      }

      h1 {
        font-size: 30px !important;
      }

      .table th {
          background-color: #000;
          color: #fff;
      }

      .table {
        text-align: center;
      }

      .bt-icon {
        width: 20px !important;
        height: 20px !important;
      }

      @media(max-width: 800px) {
        h1 {
          font-size: 20px !important;
        }

        .table {
          font-size: 10px;
        }

        .table td, .table th {
            padding-left: 1px !important;
            padding-right: 1px !important;
        }

        .bt-icon {
          width: 10px !important;
          height: 10px !important;
        }
      }

    </style>


    <div align="center">
      <h1>Clients</h1>
    </div>

    <div align="right">
      <a name="add" href="[[rootPath]]client-add">Add</a>
    </div>
<!-- 
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
 -->
      <table hidden$="{{hideClients}}" class="table table-bordered table-striped table-hover text-centered">
        <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>surname</th>
          <th>email</th>
          <th>password</th>
          <!-- <th>type</th> -->
          <th>options</th>
        </tr>
       </thead>
        <tbody>
          <template is="dom-repeat" items="{{clients}}">
            <tr>
              <td>
                [[item._id.$oid]]
              </td>              
              <td>
                [[item.name]]
              </td>
              <td>
                [[item.surname]]
              </td>
              <td>
                <!-- [[item.email]] -->
                <a name="accounts" href="[[rootPath]]accounts" on-click="setIdClient">[[item.email]]</a>
              </td>
              <td>
                [[item.password]]
              </td>
            <!--             
              <td>
                [[item.type]]
              </td> 
            -->
              <td>
                <img class="bt-icon" title="Edit" src="../../images/common/edit.png" on-click="editClient"/>
                <img class="bt-icon" title="Delete" src="../../images/common/delete.png" on-click="showAlertConfirmDelete"/>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

  <!--     
    </div>
    </div>
    </div> 
  -->


    <div hidden$="{{hideLoading}}">
      <div class="circle overlay-div" style="width: 50px; height: 50px;"></div>

      <div class="overlay-div">
        <paper-spinner active></paper-spinner>
      </div>
    </div>

  </template>



  <script>
    // Your new element extends the Polymer.Element base class
    class MyClients extends Polymer.Element {
      static get is() { return 'my-clients'; }
      static get properties() {
        return {
          clients: {
            type: Array,
            notify: true
          },
          hideClients: {
            type: Boolean,
            value: true
          }, 
          hideLoading: {
            type: Boolean,
            value: true
          },
          idclient: {
            type: String,
            notify: true
          },
          username: {
            type: String,
            notify: true
          },
          surname: {
            type: String,
            notify: true
          },
          email: {
            type: String,
            notify: true
          },
          password: {
            type: String,
            notify: true
          },
          usertype: {
            type: String,
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this)); 
        
        this.checkLogged();
      }
      routePageChanged(event) {
        console.log(this.localName + ' routePageChanged event, page: ' + event.detail);

        if (event.detail == 'clients') {
          this.username = '';
          this.surname = '';
          this.email = '';
          this.password = '';
          this.usertype = '';

          this.checkLogged();
        }
      }
      checkLogged() {
        if (!this.logged) {
          console.log('not logged, go to login page');
          this.set('route.path', '/login'); 
        }
        else {
          console.log('loading clients');
          this.getClients();
        }
      }
      setIdClient(event) {
        console.log('show accounts with idclient: ' + event.model.item._id.$oid);

        this.idclient = event.model.item._id.$oid;

        console.log(this.localName + ' idclient: ' + this.idclient);
      }
      editClient(event) {
        console.log('edit ' + event.model.item._id.$oid);

        this.idclient = event.model.item._id.$oid;
        this.username = event.model.item.name;
        this.surname = event.model.item.surname;
        this.email = event.model.item.email;
        this.password = event.model.item.password;
        this.usertype = event.model.item.type;

        console.log(this.localName + ' usertype: ' + this.usertype);

        this.set('route.path', '/client-edit'); 
      }
      deleteClient(event) {
        console.log('delete client: ' + event.model.item._id.$oid);

        var idclient = event.model.item._id.$oid;

        var request = new XMLHttpRequest();
        request.open("DELETE", "http://localhost:3000/clients/" + idclient, true);
        request.setRequestHeader("Accept", "application/json");

        this.hideLoading = false;
        var that = this;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              var response = JSON.parse(request.responseText);
              console.log(response);
              that.hideLoading = true;

              that.showAlert('Info','Client deleted','blue');

              that.getClients();
            } 
            else {
              console.error(request.statusText);
              that.hideTransactions = true;
              that.hideLoading = true;
              that.showAlert('Error','Connection error','red');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideTransactions = true;
          that.hideLoading = true;
          tthat.showAlert('Error','Connection error','red');
        };

        request.send();
      }
      getClients() {
        this.clients = null;
        this.hideClients = true;

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/clients", true);
        request.setRequestHeader("Accept", "application/json");

        var that = this;
        this.hideLoading = false;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              that.clients = JSON.parse(request.responseText);
              console.log('clients:');
              console.log(that.clients);
              that.hideClients = false;
              that.hideLoading = true;
            } 
            else {
              console.error(request.statusText);
              that.hideClients = true;
              that.hideLoading = true;
              that.showAlert('Error','Connection error','red');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideClients = true;
          that.hideLoading = true;
          that.showAlert('Error','Connection error','red');
        };

        request.send();
      }
      showAlertConfirmDelete(event)
      {        
        // create the element
        const alert = document.createElement('nebula-alert');

        var that = this;

        // show the element - automatically appended to document.body
        alert.show({
          title: 'Warning',
          // icon: 'icons:warning',
          text: 'Delete client ' + event.model.item._id.$oid + '?',
          allowCancel: false,
          buttons: ['OK','Cancel']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);

          if (result == 0) {
            that.deleteClient(event);
          }
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': 'orange',
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': 'orange',
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': 'orange',
        });
      }
      showAlert(title, text, color)
      {
        // create the element
        const alert = document.createElement('nebula-alert');

        // show the element - automatically appended to document.body
        alert.show({
          title: title,
          // icon: 'icons:warning',
          text: text,
          allowCancel: false,
          buttons: ['OK']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': color,
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': color,
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': color,
        });
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyClients.is, MyClients);
  </script>

</dom-module>
