<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-client-accounts">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .overlay-div {
          /*background-color: #fff;*/
          text-align:center;
          width: 30px;
          height: 30px;/*height needs to be set*/
          margin: auto;
          position: fixed;
          top: 12%;
          right: 0;
          bottom: 0;
          left: 0;
      }

      h1 {
        font-size: 30px !important;
      }

      .table th {
          background-color: #000;
          color: #fff;
      }

      .table {
        text-align: center;
      }

      @media(max-width: 800px) {
        h1 {
          font-size: 20px !important;
        }

        .table {
          font-size: 10px;
        }

        .table td, .table th {
            padding-left: 1px !important;
            padding-right: 1px !important;
        }
      }

    </style>

   
    <div align="center">
      <h1>Accounts</h1>
    </div>

<!--     <div align="right">
      <a name="add" href="[[rootPath]]account-add">Add</a>
    </div> -->

    <table hidden$="{{hideAccounts}}" class="table table-bordered table-striped table-hover text-centered">
      <thead>
      <tr>
        <!-- 
        <th>id</th>
        <th>idclient</th> 
        -->
        <th>iban</th>
        <th>date</th>
        <th>available</th>
      </tr>
     </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
        <!--     
            <td>
              [[item._id.$oid]]
            </td>   
            <td>
              [[item.idclient]]
            </td> 
            -->
            <td>
              <!-- [[item.iban]] -->
              <a name="client-transactions" href="[[rootPath]]client-transactions" on-click="setIdAccount">[[item.iban]]</a>
            </td>
            <td>
              [[item.date]]
            </td>
            <td>
              [[item.available]]
            </td>
          </tr>
        </template>
      </tbody>
    </table>


    <div hidden$="{{hideLoading}}">
      <div class="circle overlay-div" style="width: 50px; height: 50px;"></div>

      <div class="overlay-div">
        <paper-spinner active></paper-spinner>
      </div>
    </div>

  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class MyClientAccounts extends Polymer.Element {
      static get is() { return 'my-client-accounts'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            notify: true
          },
          hideAccounts: {
            type: Boolean,
            value: true
          }, 
          hideLoading: {
            type: Boolean,
            value: true
          },
          idaccount: {
            type: String,
            notify: true            
          }
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this)); 
        
        this.checkLogged();
      }
      routePageChanged(event) {
        console.log(this.localName + ' routePageChanged event, page: ' + event.detail);

        if (event.detail == 'client-accounts') {
          this.checkLogged();
        }
      }
      checkLogged() {
        if (!this.logged) {
          console.log('not logged, go to login page');
          this.set('route.path', '/login'); 
        }
        else {
          console.log('loading client accounts');
          this.getAccounts();
        }
      }
      setIdAccount(event) {
        console.log('show transactions with idaccount: ' + event.model.item._id.$oid);

        this.idaccount = event.model.item._id.$oid;
        this.idclient = event.model.item.idclient;
        this.iban = event.model.item.iban;

        console.log(this.localName + ' idaccount: ' + this.idaccount);
      }
      getAccounts() {
        console.log('getAccounts from idclient: ' + this.idclient);

        this.accounts = null;
        this.hideAccounts = true;

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/accounts/" + this.idclient, true);
        request.setRequestHeader("Accept", "application/json");

        var that = this;
        this.hideLoading = false;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              that.accounts = JSON.parse(request.responseText);
              console.log(that.accounts);
              that.hideAccounts = false;
              that.hideLoading = true;
            } 
            else {
              console.error(request.statusText);
              that.hideAccounts = true;
              that.hideLoading = true;
              that.showAlert('Error','Connection error','red');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideAccounts = true;
          that.hideLoading = true;
          that.showAlert('Error','Connection error','red');
        };

        request.send();
      }
      showAlert(title, text, color)
      {
        // create the element
        const alert = document.createElement('nebula-alert');

        // show the element - automatically appended to document.body
        alert.show({
          title: title,
          // icon: 'icons:warning',
          text: text,
          allowCancel: false,
          buttons: ['OK']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': color,
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': color,
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': color,
        });
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyClientAccounts.is, MyClientAccounts);
  </script>

</dom-module>
