<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-help-admin">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      h1 {
        font-size: 30px !important;
      }

      p {
        padding: 30px;
      }

      img {
        border: 1px solid black !important;
      }

    </style>

  

    <div align="center">
      <h1>Help</h1>
      <p>Select top left icon to open menu</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/menu.png" />
      <p>Select "Clients" to see clients list, "Help" to see this help, or "Logout" to exit</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/clients.png" />
      <p>Select "Add" to add new client</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/client-add.png" />
      <p>Select "Edit" to edit a client</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/client-edit.png" />
      <p>Select "Delete" to delete a client</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/client-delete.png" />
      <p>Select an email to see client accounts</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/accounts.png" />
      <p>Select "Add" to add new account to the selected client</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/account-add.png" />
      <p>Select "Edit" to edit an account</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/account-edit.png" />
      <p>Select "Delete" to delete an account</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/account-delete.png" />
      <p>Select an Iban to see the transactions from the selected account</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/transactions.png" />
      <p>Select "Add" to add new transaction to the selected account</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/transaction-add.png" />
      <p>Select "Edit" to edit a transaction</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/transaction-edit.png" />
      <p>Select "Delete" to delete a transaction</p>
      <img style="width: 600px; height: 450px;" src="../../images/help-admin/transaction-delete.png" />
    </div>

  </template>



  <script>
    // Your new element extends the Polymer.Element base class
    class MyHelpAdmin extends Polymer.Element {
      static get is() { return 'my-help-admin'; }
      static get properties() {
        return {
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this));

        this.checkLogged(); 
      }
      routePageChanged(event) {
        console.log('routePageChanged event, page: ' + event.detail);

        if (event.detail == 'help-admin') {
          this.checkLogged();
        }
      }
      checkLogged() {
        if (!this.logged) {
          console.log('not logged, go to login page');
          this.set('route.path', '/login'); 
        }
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyHelpAdmin.is, MyHelpAdmin);
  </script>

</dom-module>
