<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .center-div
      {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 460px;
      }

      .overlay-div {
        /*background-color: #fff;*/
        text-align:center;
        width: 30px;
        height: 30px;/*height needs to be set*/
        margin: auto;
        position: fixed;
        top: 12%;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .overlay-div-weather {
        position: absolute;
        top: 50px;
        left: 44%;
        width: 100%;
        height: 460px;
      }
      
    </style>


    <div class="center-div">
    <!-- <div align="center" style="width: 200px;"> -->

      <div class="overlay-div-weather" hidden$="[[hideLoadingWeather]]">
        <paper-spinner active></paper-spinner>
      </div>

      <div style="width: 100%; height: 120px; visibility: [[weatherVisibility]];" align="center">
        <img style="width: 50px; height: 50px;" src="[[weatherIcon]]" />
        <label>[[weatherTemp]]</label>
        </br>
        <label>[[weatherCity]]</label>
        <p>[[weatherText]]</p>
      </div>

      <img style="width: 200px; height: 130px;" src="../../images/login/ciudad_bbva.jpg" />
      </br>
      </br>
      <label class="w-100" for="input1">Email</label>
      </br>
      <input class="w-100" id="input1" type="text" placeholder="[[placeholderEmail]]" value="{{email::input}}" />
      </br>
      </br>
      <label class="w-100" for="input2">Password</label>
      </br>
      <input class="w-100" id="input2" type="password" placeholder="[[placeholderPassword]]" value="{{password::input}}" />
      </br>
      
      </br>
      <button class="w-100 btn btn-danger" on-click="login">Login</button>

    </div>

    <div hidden$="{{hideLoading}}">
      <div class="circle overlay-div" style="width: 50px; height: 50px;"></div>

      <div class="overlay-div">
        <paper-spinner active></paper-spinner>
      </div>
    </div>

  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          weatherVisibility: {
            type: String,
            value: 'hidden'
          },
          hideLoadingWeather: {
            type: Boolean,
            value: true
          },
          loginHeight: {
            type: String,
            value: '300px'
          },
          email: {
            type: String,
            value: 'javier@bbva.com'
          },
          password: {
            type: String,
            value: '1234'
          },
          placeholderEmail: {
            type: String,
            value: 'Enter email'
          },
          placeholderPassword: {
            type: String,
            value: 'Enter password'
          },
          hideLoading: {
            type: Boolean,
            value: true
          },
          idclient: {
            type: Number,
            notify: true
          },
          logged: {
            type: Boolean,
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this)); 

        this.getLocation();
      }
      routePageChanged(event) {
        console.log(this.localName + ' routePageChanged event, page: ' + event.detail);

        if (event.detail == 'login') {
          this.email = '';
          this.password = '';
          this.logged = false;

          this.weatherVisibility = 'hidden';
          this.getLocation();
        }
      }
      login()
      {
        if (this.email == undefined || this.email == '' || this.password == undefined || this.password == '') {
          this.showAlert('Error','Please enter email and password','red',null);
        }
        else {
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/login", true);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var data = {
            "email" : this.email,
            "password" : this.password
          };
          var body = JSON.stringify(data);

          var that = this;
          this.hideLoading = false;

          request.onload = function (e) {
            if (request.readyState === 4) {
              if (request.status === 200) {
                that.client = JSON.parse(request.responseText);
                console.log(that.client);
                that.hideLoading = true;

                if (that.client.length == 0) {
                  that.showAlert('Error','Invalid email/password','red',null);
                }
                else {
                  that.idclient = that.client[0]._id.$oid; 

                  that.logged = true;

                  that.showAlert('Info','Welcome ' + that.client[0].name,'blue',that);
                }
              } 
              else {
                console.error(request.statusText);
                that.hideLoading = true;
                that.showAlert('Error','Connection error','red',null);
              }
            }
          };
          request.onerror = function (e) {
            console.error(request.statusText);
            that.hideLoading = true;
            that.showAlert('Error','Connection error','red',null);
          };

          request.send(body);
        }
      }
      getWeather(latitude, longitude)
      {
        var request = new XMLHttpRequest();

        // var weatherUrl = 'http://api.openweathermap.org/data/2.5/weather?q=Madrid,es&units=metric&lang=es&appid=59fd99f831e47e2a74cf46285dd4d2be';
        var weatherUrl = 'http://api.openweathermap.org/data/2.5/weather?units=metric&lang=es&appid=59fd99f831e47e2a74cf46285dd4d2be' + '&lat=' + latitude + '&lon=' + longitude;  

        request.open("GET", weatherUrl, true);

        request.setRequestHeader("Accept", "application/json");

        var that = this;
        this.hideLoadingWeather = false;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              var weatherJson = JSON.parse(request.responseText);
              console.log(weatherJson);
              that.hideLoadingWeather = true;

              that.loginHeight = '380px';
              that.weatherVisibility = 'visible';
              that.weatherIcon = 'http://openweathermap.org/img/w/' + weatherJson.weather[0].icon + '.png';
              that.weatherTemp = Math.round(weatherJson.main.temp) + '° ';
              that.weatherCity = weatherJson.name;
              that.weatherText = that.capitalizeFirstLetter(weatherJson.weather[0].description);
            } 
            else {
              console.error(request.statusText);
              that.hideLoadingWeather = true;
              console.log('Error getting weather');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideLoadingWeather = true;
          console.log('Error getting weather');
        };

        request.send();
      }
      capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
      }
      getLocation() {
        this.hideLoadingWeather = false;

        if (navigator.geolocation) {
            var that = this;

            navigator.geolocation.getCurrentPosition(function(position) {
              that.hideLoadingWeather = true;
              that.getWeather(position.coords.latitude, position.coords.longitude, that);
            });
        } 
        else { 
          this.hideLoadingWeather = true;
          this.weatherCity = 'Error localizando...';
          console.log('Geolocation is not supported by this browser');
        }
      }
      showAlert(title, text, color, that)
      {
        // create the element
        const alert = document.createElement('nebula-alert');

        // show the element - automatically appended to document.body
        alert.show({
          title: title,
          // icon: 'icons:warning',
          text: text,
          allowCancel: false,
          buttons: ['OK']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);

          console.log('user type: ', that.client[0].type);

          if (that != null) {
            if (that.client[0].type == 'admin') {
              that.set('route.path', '/clients'); 
            }
            else {
              that.set('route.path', '/client-accounts'); 
            }
          }
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': color,
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': color,
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': color,
        });
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyLogin.is, MyLogin);
  </script>

</dom-module>
