<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-transactions">
  <!-- Defines the element's style and local DOM -->
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .overlay-div {
          /*background-color: #fff;*/
          text-align:center;
          width: 30px;
          height: 30px;/*height needs to be set*/
          margin: auto;
          position: fixed;
          top: 12%;
          right: 0;
          bottom: 0;
          left: 0;
      }

      h1 {
        font-size: 30px !important;
      }

      .table th {
          background-color: #000;
          color: #fff;
      }

      .table {
        text-align: center;
      }

      .bt-icon {
        width: 20px !important;
        height: 20px !important;
      }

      @media(max-width: 800px) {
        h1 {
          font-size: 20px !important;
        }

        .table {
          font-size: 10px;
        }

        .table td, .table th {
            padding-left: 1px !important;
            padding-right: 1px !important;
        }

        .bt-icon {
          width: 10px !important;
          height: 10px !important;
        }
      }

    </style>

  
      
    <div align="center">
      <h1>Transactions</h1>
    </div>

    <div align="right">
      <a name="add" href="[[rootPath]]transaction-add" on-click="addTransaction">Add</a>
    </div>

    <table hidden$="{{hideTransactions}}" class="table table-bordered table-striped table-hover text-centered">
      <thead>
      <tr>
        <th>id</th>
        <th>idaccount</th>
        <th>date</th>
        <th>amount</th>
        <th>detail</th>
        <th>type</th>
        <th>options</th>
      </tr>
     </thead>
      <tbody>
        <template is="dom-repeat" items="{{transactions}}">
          <tr>
            <td>
              [[item._id.$oid]]
            </td> 
             <td>
              [[item.idaccount]]
            </td>
            <td>
              [[item.date]]
            </td>
            <td>
              [[item.amount]]
            </td>
            <td>
              [[item.detail]]
            </td>
            <td>
              [[item.type]]
            </td>
            <td>
              <img class="bt-icon" src="../../images/common/edit.png" on-click="editTransaction"/>
              <img class="bt-icon" src="../../images/common/delete.png" on-click="showAlertConfirmDelete"/>
            </td>
          </tr>
        </template>
      </tbody>
    </table>


    <div align="center">
      </br>
      <a name="accounts" href="[[rootPath]]accounts">Back</a>
      </br>
      </br>
    </div>


    <div hidden$="{{hideLoading}}">
      <div class="circle overlay-div" style="width: 50px; height: 50px;"></div>

      <div class="overlay-div">
        <paper-spinner active></paper-spinner>
      </div>
    </div>

  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class MyTransactions extends Polymer.Element {
      static get is() { return 'my-transactions'; }
      static get properties() {
        return {
          transactions: {
            type: Array,
            notify: true
          },
          hideTransactions: {
            type: Boolean,
            value: true
          }, 
          hideLoading: {
            type: Boolean,
            value: true
          },
          idtransaction: {
            type: String,
            notify: true
          },
          idaccount: {
            type: String,
            notify: true
          },
          date: {
            type: String,
            notify: true
          },
          amount: {
            type: Number,
            notify: true
          },
          detail: {
            type: String,
            notify: true
          },
          type: {
            type: String,
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        console.log(this.localName + ' has local DOM initialized');

        document.addEventListener('routePageChanged', this.routePageChanged.bind(this)); 

        this.checkLogged();
      }
      routePageChanged(event) {
        console.log(this.localName + ' routePageChanged event, page: ' + event.detail);

        if (event.detail == 'transactions') {
          this.idtransaction = '';
          // this.idaccount = '';
          this.date = '';
          this.detail = '';
          this.amount = '';
          this.type = '';

          this.checkLogged();
        }
      }      
      checkLogged() {
        if (!this.logged) {
          console.log('not logged, go to login page');
          this.set('route.path', '/login'); 
        }
        else {
          console.log('loading transactions');
          this.getTransactions();
        }
      }
      addTransaction(event) {
        console.log('add');

        this.idtransaction = '';
        // this.idaccount = '';
        this.date = '';
        this.detail = '';
        this.amount = '';
        this.type = '';
      }
      editTransaction(event) {
        console.log('edit ' + event.model.item._id.$oid);

        this.idtransaction = event.model.item._id.$oid;
        this.idaccount = event.model.item.idaccount;
        this.date = event.model.item.date;
        this.detail = event.model.item.detail;
        this.amount = event.model.item.amount;
        this.type = event.model.item.type;

        this.set('route.path', '/transaction-edit'); 
      }
      deleteTransaction(event) {
        console.log('delete ' + event.model.item._id.$oid);

        var request = new XMLHttpRequest();
        request.open("DELETE", "http://localhost:3000/transactions/" + event.model.item._id.$oid, true);
        request.setRequestHeader("Accept", "application/json");

        var that = this;
        this.hideLoading = false;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              var response = JSON.parse(request.responseText);
              console.log(response);
              that.hideLoading = true;

              that.showAlert('Info','Transaction deleted','blue');

              that.getTransactions();
            } 
            else {
              console.error(request.statusText);
              that.hideLoading = true;
              that.showAlert('Error','Connection error','red');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideLoading = true;
          that.showAlert('Error','Connection error','red');
        };

        request.send();
      }
      getTransactions() {
        this.transactions = null;
        this.hideTransactions = true;

        console.log('getTransactions idaccount: ' + this.idaccount);

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/transactions/account/" + this.idaccount, true);
        request.setRequestHeader("Accept", "application/json");

        var that = this;
        this.hideLoading = false;

        request.onload = function (e) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              that.transactions = JSON.parse(request.responseText);
              console.log(that.transactions);
              that.hideTransactions = false;
              that.hideLoading = true;
            } 
            else {
              console.error(request.statusText);
              that.hideTransactions = true;
              that.hideLoading = true;
              that.showAlert('Error','Connection error','red');
            }
          }
        };
        request.onerror = function (e) {
          console.error(request.statusText);
          that.hideTransactions = true;
          that.hideLoading = true;
          that.showAlert('Error','Connection error','red');
        };

        request.send();
      }
      showAlertConfirmDelete(event)
      {        
        // create the element
        const alert = document.createElement('nebula-alert');

        var that = this;

        // show the element - automatically appended to document.body
        alert.show({
          title: 'Warning',
          // icon: 'icons:warning',
          text: 'Delete transaction ' + event.model.item._id.$oid + '?',
          allowCancel: false,
          buttons: ['OK','Cancel']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);

          if (result == 0) {
            that.deleteTransaction(event);
          }
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': 'orange',
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': 'orange',
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': 'orange',
        });
      }
      showAlert(title, text, color)
      {
        // create the element
        const alert = document.createElement('nebula-alert');

        // show the element - automatically appended to document.body
        alert.show({
          title: title,
          // icon: 'icons:warning',
          text: text,
          allowCancel: false,
          buttons: ['OK']
        }).then(function(result) {
          console.log('The alert has been closed, result: ', result);
        });

        // update any styles
        alert.updateStyles({
          '--nebula-alert-border-color': color,
          '--nebula-alert-background-color': 'white',
          '--nebula-alert-title-background-color': color,
          '--nebula-alert-title-color': 'white',
          '--nebula-alert-text-background-color': 'white',
          '--nebula-alert-text-color': 'black',
          '--nebula-alert-buttons-background-color': 'white',
          '--nebula-alert-buttons-color': color,
        });
      }
    }
    
    //Now, register your new custom element so the browser can use it
    customElements.define(MyTransactions.is, MyTransactions);
  </script>

</dom-module>
